@model DataTable
@using System.Data

<main id="main" class="main">
    <div class="pagetitle">
        <h1>State List</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="DashboardView">Home</a></li>
                <li class="breadcrumb-item">Quiz</li>
                <li class="breadcrumb-item active"><a asp-controller="State" asp-action="CountryList">StateList</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <!-- Search Section -->
       
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title">State List</h5>
                            <a class="btn btn-success" id="addQuiz" asp-controller="Country" asp-action="QuizAddEdit">Add Quiz</a>
                        </div>
                        <!-- Table with stripped rows -->
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>State Id</th>
                                    <th>Country Id</th>
                                    <th>State Name</th>
                                    <th>State Code</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="questionTable">
                                <!-- Dynamic rows will be added here -->
                                @foreach (DataRow row in Model.Rows)
                                {
                                    <tr>
                                        <td>@row["StateID"]</td>
                                        <td>@row["CountryID"]</td>
                                        <td>@row["StateName"]</td>
                                        <td>@row["StateCode"]</td>
                                        <td>
                                            <a asp-controller="State" asp-action="StateAddEdit" asp-route-StateId="@row["StateId"]" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-pencil"></i></a>

                                            <form method="post" asp-controller="State" asp-action="StateDelete" onsubmit="return confirmDelete()" style="display:inline;">
                                                <input type="hidden" name="StateId" value="@row["StateId"]" />
                                                <button type="submit" class="btn btn-danger btn-sm" title="Delete">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->